/* src/index.css (Versão Definitiva) */

/* Diretivas do Tailwind. Essenciais. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Regra de Ouro: Força a remoção de qualquer margem
  que o navegador tente adicionar ao corpo da página.
  Isso resolve o problema da "borda branca".
*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Boa prática para controle de layout */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}